.loader {
    display: flex;
    width: 250px;
    height: 5px;

    position: relative;

    background-color: rgba(0, 0, 0, 0.8);

    border-radius: 10px;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        display: inline-block;

        position: absolute;

        width: 10%;
        height: 100%;

        background-color: #00ff2f;

        border-radius: 10px;

        animation-name: animationLoad;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 1s;
    }

    &::before {
        left: 0px;
    }

    &::after {
        animation-direction: reverse;
        left: 250px;
    }
}

@keyframes animationLoad {
    0% {
        left: 0px;
    }

    100% {
        left: calc(250px - 10%);
    }
}